.main {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .data-Register,
  .data-Emp {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /*PARTE AZUL*/

.data-Emp {
    background-color: #55b3d9;
    color: white;
  }
  
  .logo-Emp {
    margin-top: -10px;
    margin-bottom: -350px;
  
  }
  
  .data-Login{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
  }
  
  .button-Login{
      background: #55b3d9;
      border-radius: 25px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      margin-top: 50px;
  }
   
  
  .button-Login button{
      width: 170px;
      height: 6vh;
      font-size: 1rem;
      border-radius: 25px;
      background-color: #55b3d9;
      border: 1px solid white;
  } 


  /*PARTE REGISTRO*/
  
  .data-Register {
    gap: 55px;
  }
  
  .icons-Register {
    display: flex;
    gap: 80px;
    margin-top: -20px;
  }
  
  .icon {
    font-size: 35px;
  }

  .data-Email, .data-Phone, .data-User {
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 350px;
  }

  .icon-Email, .icon-Phone, .icon-User {
    font-size: 20px;
    color: #b0b0b0;
    margin-right: 10px;
  }
  
  .input-Email, .input-Phone, .input-User {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #333;
    background: none;
  }
  
  .input-Email::placeholder {
    color: #b0b0b0;
  }
  
  .input-Email:focus::placeholder {
    color: transparent;
  }

  
.data-Password {
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
  }
  
  .icon-Password {
    font-size: 20px;
    color: #b0b0b0;
    margin-right: 10px;
  }
  
  .input-Password {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #333;
    background: none;
  }
  
  .input-Password::placeholder {
    color: #b0b0b0;
  }
  
  .input-Password:focus::placeholder {
    color: transparent;
  }
  
  .button-Register {
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .button-Register button {
    width: 170px;
    height: 6vh;
    font-size: 1rem;
    border-radius: 25px;
    background-color: #55b3d9;
    border: none;
  }